.discover{
    margin: 80px;
}
.discover .text{
    display: flex;
    flex-direction: row;
    font-size: 20px;
}
.text2{
    margin-left: 90px;
}
#explore{
    margin: 10px 30px 0 0px;
    border: 1px solid black;
    padding: 12px 24px 12px 24px;
}

#shop{
    margin: 10px 30px 0 0;
    padding: 12px 24px 12px 24px;
    background-color: #1E90FF;
    color: white;
}

